@font-face {
  font-display: swap;
  font-family: 'Nike';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/nike/nike-futura-std-extra-bold-condensed.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/helvetica/helvetica-roman.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Helvetica';
  src: url('../fonts/helvetica/helvetica-bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
